@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Inter", sans-serif;
}

body {
  background-image: url("/images/blob.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  color: white;
  --gradient: linear-gradient(
    180deg,
    rgba(36, 198, 220, 0.2) 0%,
    rgba(81, 74, 157, 0.2) 100%
  );
  --gradient-2: linear-gradient(180deg, #24c6dc 0%, #514a9d 100%);
}

nav div.logo {
  position: relative;
  animation-name: jump;
  animation-duration: 2s;
}

.caption {
  font-size: 12px;
}

.caption img {
  display: inline;
}

.caption-span {
  background: var(--gradient-2);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-btn {
  width: 120px;
  /* height: 30px; */
  background: var(--gradient-2);
  border-radius: 10px;
  padding: 16px;
  font-size: 12px;
  /* gap: 25.26px; */
}

div.hero div.hero-left p img {
  animation: rotate 2s linear infinite;
}
div.hero div.hero-right {
  height: 100%;
  overflow: hidden;
}
div.hero div.hero-right img {
  transition: transform 0.5s;
}
div.hero div.hero-right img:hover {
  transform: scale(1.2);
}

.card {
  position: relative;
  height: 250px;
  width: 250px;
  padding: 20px;
  border: 1.94px solid transparent;
  background-color: black;
  background-clip: padding-box;
  border-radius: 12px;
  transition: all 2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: -1.94px;
  z-index: -1;
  border-radius: inherit;
  background: var(--gradient-2);
}
.card:hover {
  background: var(--gradient-2);
}
.card h1 {
  padding-top: 10px;
  font-weight: bold;
}
.card p {
  padding-top: 20px;
  font-size: 10px;
  max-width: 200px;
  text-align: center;
}

div.hero-right img {
  max-height: 450px;
  /* margin: 0px; */
  /* margin-left: 30px; */
}

div.sponsors img {
  width: 100px;
}

section.stats,
section.pricing {
  position: relative;
  /* left: 0px; */
  right: 6.5%;
  padding: 40px;
  width: 100vw;
  background: var(--gradient);
}

div.icon-container img {
  width: 50px;
}

div.email-form input[type=email] {
  width: 300px;
  height: 40px;
  padding: 25px;
  border: 1px solid white;
  background: black;
  border-radius: 12.07px;
  font-size: 12px;
  outline: none;
}

div.hero-right img {
  max-height: 450px;
  /* margin: 0px; */
  /* margin-left: 30px; */
}

div.sponsors img {
  width: 100px;
}

section.stats,
section.pricing {
  position: relative;
  /* left: 0px; */
  right: 6.5%;
  padding: 40px;
  width: 100vw;
  background: var(--gradient);
}

div.icon-container img {
  width: 50px;
}

section.services .services-details .service-header-container h1 {
  font-size: 25px;
  font-weight: bold;
  max-width: 400px;
  @apply mt-2;
}
section.services .services-details p {
  @apply max-w-md my-6;
  font-size: 12px;
}
section.services .services-details img {
  width: 250px;
  height: auto;
}
section.services .services-details a {
  @apply text-xs;
  background: var(--gradient-2);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.services .services-details a img {
  @apply ml-2;
  display: inline;
  width: 15px;
}

section.pricing {
  background: var(--gradient);
  height: 400px;
  padding: 0px;
}
section.pricing div.pricing-group {
  width: 40%;
}
section.pricing div.pricing-group div.pricing-cta {
  position: relative;
  left: 150px;
  bottom: 35px;
}
section.pricing div.pricing-group div.pricing-cta {
  position: relative;
  left: 150px;
  bottom: 35px;
}
section.pricing div.pricing-details {
  background-color: black;
  width: 100%;
  height: 300px;
  border-radius: 20px;
}
section.pricing div.pricing-category h5 {
  font-weight: bold;
  background: var(--gradient-2);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.pricing div.pricing-slider {
  position: relative;
}
section.pricing div.pricing-slider output {
  position: absolute;
  bottom: 40%;
  left: 52%;
  font-size: 12px;
  transform: translateX(-90%);
  background: var(--gradient-2);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.pricing div.pricing-slider input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  margin: 0px 10px;
}
section.pricing div.pricing-slider input[type=range]::-moz-focus-outer {
  border: 0;
}
section.pricing div.pricing-slider input[type=range]:focus {
  outline: 0;
}
section.pricing div.pricing-slider input[type=range]:focus::-ms-fill-lower {
  background: var(--gradient-2);
}
section.pricing div.pricing-slider input[type=range]::-webkit-slider-runnable-track {
  cursor: default;
  height: 12px;
  transition: all 0.2s ease;
  width: 100%;
  background: var(--gradient-2);
  border-radius: 100px;
}
section.pricing div.pricing-slider input[type=range]::-webkit-slider-thumb {
  background: white;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 20px;
  width: 20px;
  -webkit-appearance: none;
  margin-top: -6px;
}
section.pricing div.pricing-slider input[type=range]::-moz-range-track {
  cursor: default;
  height: 12px;
  transition: all 0.2s ease;
  width: 100%;
  background: var(--gradient-2);
  border-radius: 100px;
  height: 6px;
}
section.pricing div.pricing-slider input[type=range]::-moz-range-thumb {
  background: white;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: default;
  height: 20px;
  width: 20px;
}

section.perks {
  height: 700px;
}
section.perks div.text-container {
  width: 40%;
}
section.perks div.checklist-container {
  display: grid;
  align-items: center;
  grid-template-columns: 30px auto;
  grid-template-rows: 30px auto;
}
section.perks div.checklist {
  background: var(--gradient-2);
  width: 20px;
  height: 20px;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.perks div.perks-cards {
  width: 50%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 40px;
  row-gap: 30px;
}
section.perks div.card {
  width: 100%;
  height: 90%;
  justify-content: flex-start;
  align-items: flex-start;
}
section.perks div.card img {
  width: 40px;
}
section.perks div.card h1 {
  padding-top: 15px;
  font-size: 17px;
}
section.perks div.card p {
  padding: 10px 0px;
  text-align: left;
  max-width: 170px;
}
section.perks div.card a {
  font-size: 10px;
  text-transform: uppercase;
  background: var(--gradient-2);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section.perks div.card:hover a {
  -webkit-text-fill-color: white;
}

section.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.testimonials div.testimonials-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
section.testimonials div.testimonials-container div.header {
  margin: 50px;
  text-align: center;
}
section.testimonials div.testimonials-container div.header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
section.testimonials div.testimonials-container div.header p {
  font-size: 12px;
  margin: 10px 0px;
}
section.testimonials div.testimonial-slides {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 300px;
  position: relative;
  overflow: hidden;
}
section.testimonials div.testimonial-slides div.testimonial-card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 300px;
  color: #d7d7d7;
  transition: transform 0.5s ease;
}
section.testimonials div.testimonial-slides div.testimonial-card div.container {
  width: 90%;
  height: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--gradient-2);
}
section.testimonials div.testimonial-slides div.testimonial-card div.icon-container {
  margin-bottom: 30px;
}
section.testimonials div.testimonial-slides div.testimonial-card div.icon-container img {
  width: 70px;
}
section.testimonials div.testimonial-slides div.testimonial-card div.name-rating {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.testimonials div.testimonial-slides div.testimonial-card div.name-rating img {
  width: 100px;
}
section.testimonials div.testimonial-slides div.testimonial-card div.testimony {
  padding: 10px 60px;
  font-size: 13px;
  text-align: center;
}
section.testimonials div.slider-buttons {
  margin: 50px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.testimonials div.slider-buttons > div {
  padding: 5px;
  cursor: pointer;
}
section.testimonials div.slider-buttons .control-container {
  transition: background 0.5s;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 0px 17px;
}
section.testimonials div.slider-buttons .control-container:hover {
  background: white;
}
section.testimonials div.slider-buttons .control-container:hover span {
  background: black;
}
section.testimonials div.slider-buttons .top,
section.testimonials div.slider-buttons .bottom {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 2px;
  border-radius: 30px;
  background: white;
}
section.testimonials div.slider-buttons .top {
  rotate: 45deg;
}
section.testimonials div.slider-buttons .bottom {
  transform: translateX(5px);
  rotate: -45deg;
  bottom: 14px;
  right: 4px;
}
section.testimonials div.slider-buttons .prev {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

section.cta {
  @apply px-32;
}
section.cta div.cta-container {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  background: var(--gradient-2);
  height: 200px;
  border-radius: 20px;
  padding: 0px 70px;
  margin: 80px 0px;
}
section.cta div.cta-container div.text h1 {
  font-size: 28px;
  font-weight: bold;
}
section.cta div.cta-container div.text p {
  font-size: 12px;
  max-width: 250px;
  padding-top: 15px;
}
section.cta div.cta-container div.contact-form {
  align-self: center;
}
section.cta div.cta-container div.contact-form form {
  height: 50px;
  font-size: 12px;
}
section.cta div.cta-container div.contact-form form input[type=email] {
  height: 90%;
  width: 70%;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  color: black;
}
section.cta div.cta-container div.contact-form form button {
  background: black;
  color: white;
  height: 90%;
  padding: 0px 20px;
  position: relative;
  right: 4px;
  border-radius: 0px 10px 10px 0px;
}

footer.footer {
  background: #090a12;
  height: 300px;
  padding: 0px 80px;
}
footer.footer div.footer-top {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 30px 0px;
}
footer.footer div.footer-top .footer-header .header {
  display: flex;
  align-items: center;
  padding-top: 15px;
}
footer.footer div.footer-top .footer-header img {
  width: 50px;
}
footer.footer div.footer-top .footer-header h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
footer.footer div.footer-top .footer-header p {
  margin: 30px 0px;
  max-width: 250px;
}
footer.footer div.footer-top .footer-header .social-links {
  display: flex;
  justify-content: space-between;
  width: 140px;
}
footer.footer div.footer-top .footer-header .social-links li {
  width: 30px;
  height: 30px;
  background-color: rgb(37, 37, 37);
  border-radius: 10px;
}
footer.footer div.footer-top .footer-header .social-links li a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer.footer div.footer-top .footer-header .social-links li:hover {
  color: #000;
  background-color: whitesmoke;
}
footer.footer div.footer-top .footer-links li {
  margin: 17px;
}
footer.footer div.footer-top .top-link {
  font-weight: bold;
  margin-bottom: 15px;
}
footer.footer .footer-bottom {
  padding: 30px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
footer.footer .footer-bottom ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
footer.footer .footer-bottom ul .seperator {
  width: 2px;
  height: 20px;
  background-color: white;
}
footer.footer .footer-bottom .credits {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  width: 500px;
}
footer.footer .footer-bottom .credits a {
  color: #24c6dc;
}

@keyframes jump {
  0% {
    bottom: 50px;
  }
  25% {
    bottom: -20px;
  }
  50% {
    bottom: 50px;
  }
  75% {
    bottom: -20px;
  }
  100% {
    bottom: 0px;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
