@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter',
        sans-serif;
}

body {
    background-image: url('/images/blob.svg');
    background-repeat: no-repeat;
    background-size: 20%;
    color: white;
}

.caption {
    font-size: 12px;
}

.caption img {
    display: inline;
}

.caption-span {
    background: linear-gradient(180deg, #24C6DC 0%, #514A9D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.cta-btn {
    width: 120px;
    /* height: 30px; */
    background: linear-gradient(180deg, #24C6DC 0%, #514A9D 100%);
    border-radius: 12.07px;
    padding: 10px 10px;
    font-size: 12px;
    /* gap: 25.26px; */
}

div.email-form input[type=email] {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid white;
    background: black;
    border-radius: 12.07px;
    font-size: 12px;

    outline: none;
}

div.hero-right img {
    max-height: 450px;
    /* margin: 0px; */
    /* margin-left: 30px; */
}

div.sponsors img {
    width: 100px;
}