@use "sass:math";

@import "node_modules/tailwindcss/base";
@import "node_modules/tailwindcss/components";
@import "node_modules/tailwindcss/utilities";

* {
  font-family: "Inter", sans-serif;
}
@mixin text-bg {
  background: var(--gradient-2);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  background-image: url("/images/blob.svg");
  background-repeat: no-repeat;
  background-size: 20%;
  color: white;
  --gradient: linear-gradient(
    180deg,
    rgba(36, 198, 220, 0.2) 0%,
    rgba(81, 74, 157, 0.2) 100%
  );
  --gradient-2: linear-gradient(180deg, #24c6dc 0%, #514a9d 100%);
}

nav {
  div.logo {
    position: relative;
    animation-name: jump;
    animation-duration: 2s;
  }
  div.nav-links {
    a {
      overflow: hidden;
      position: relative;
      display: inline-block;
      span {
        display: inline-block;
        transition: transform 0.3s ease;
      }

      &::before,
      &::after {
        width: 100%;
        content: "";
        position: absolute;
        left: 0;
        bottom: 0px;
        transition: transform 0.3s ease;
      }

      &::before {
        transform-origin: 10%, 50%;
        transform: scale(0);
        background: var(--gradient-2);
        height: 1px;
      }

      &::after {
        content: attr(data-replace);
        top: 0;
        height: 100%;
        transform: translate(0, 100%);
        @include text-bg();
      }
      &:hover {
        &::after {
          transform: translate(0, 0);
        }
        &::before {
          transform: scale(2);
        }

        & span {
          transform: translate3d(0, 250%, 0);
        }
      }
    }
  }
}
.caption {
  font-size: 12px;
}

.caption img {
  display: inline;
}

.caption-span {
  @include text-bg;
}

.cta-btn {
  width: 120px;
  /* height: 30px; */
  background: var(--gradient-2);
  border-radius: 10px;
  padding: 16px;
  font-size: 12px;
  /* gap: 25.26px; */
}
div.hero {
  div.hero-left p img {
    animation: rotate 2s linear infinite;
  }
  div.hero-right {
    // width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      transition: transform 0.5s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
.card {
  position: relative;
  height: 250px;
  width: 250px;
  padding: 20px;
  border: 1.94px solid transparent;
  background-color: black;
  background-clip: padding-box;
  border-radius: 12px;
  transition: all 2s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: -1.94px;
    z-index: -1;
    border-radius: inherit;
    background: var(--gradient-2);
  }
  &:hover {
    background: var(--gradient-2);
  }
  h1 {
    padding-top: 10px;
    font-weight: bold;
  }
  p {
    padding-top: 20px;
    font-size: 10px;
    max-width: 200px;
    text-align: center;
  }
}

div.hero-right img {
  max-height: 450px;
  /* margin: 0px; */
  /* margin-left: 30px; */
}

div.sponsors img {
  width: 100px;
}

section.stats,
section.pricing {
  position: relative;
  /* left: 0px; */
  right: 6.5%;
  padding: 40px;
  width: 100vw;
  background: var(--gradient);
}

div.icon-container img {
  width: 50px;
}

div.email-form input[type="email"] {
  width: 300px;
  height: 40px;
  padding: 25px;
  border: 1px solid white;
  background: black;
  border-radius: 12.07px;
  font-size: 12px;

  outline: none;
}

div.hero-right img {
  max-height: 450px;
  /* margin: 0px; */
  /* margin-left: 30px; */
}

div.sponsors img {
  width: 100px;
}

section.stats,
section.pricing {
  position: relative;
  /* left: 0px; */
  right: 6.5%;
  padding: 40px;
  width: 100vw;
  background: var(--gradient);
}

div.icon-container img {
  width: 50px;
}

section.services .services-details {
  .service-header-container h1 {
    font-size: 25px;
    font-weight: bold;
    max-width: 400px;
    @apply mt-2;
  }
  p {
    @apply max-w-md my-6;
    font-size: 12px;
  }
  img {
    width: 250px;
    height: auto;
  }
  a {
    @apply text-xs;
    @include text-bg;
    img {
      @apply ml-2;
      display: inline;
      width: 15px;
    }
  }
}

section.pricing {
  background: var(--gradient);
  height: 400px;
  padding: 0px;
  div.pricing-group {
    width: 40%;
    div.pricing-cta {
      position: relative;
      left: 150px;
      bottom: 35px;
    }
    div.pricing-cta {
      position: relative;
      left: 150px;
      bottom: 35px;
    }
  }
  div.pricing-details {
    background-color: black;
    width: 100%;
    height: 300px;
    border-radius: 20px;
  }
  div.pricing-category h5 {
    font-weight: bold;
    @include text-bg;
  }
  div.pricing-slider {
    position: relative;
    // width: 500px;
    output {
      position: absolute;
      bottom: 40%;
      left: 52%;
      font-size: 12px;
      //   padding: 4px 12px;
      transform: translateX(-90%);
      @include text-bg;
    }
    input[type="range"] {
      // VARIABLES
      $track-color: var(--gradient-2) !default;
      $thumb-color: white !default;

      $thumb-radius: 12px !default;
      $thumb-height: 20px !default;
      $thumb-width: 20px !default;

      $track-width: 100% !default;
      $track-height: 12px !default;
      $track-border-width: 2px !default;
      $track-radius: 100px !default;

      // STYLES

      -webkit-appearance: none;
      width: 100%;
      background: transparent;
      margin: 0px 10px;

      @mixin track {
        cursor: default;
        height: $track-height;
        transition: all 0.2s ease;
        width: $track-width;
      }

      @mixin thumb {
        background: $thumb-color;
        border-radius: $thumb-radius;
        box-sizing: border-box;
        cursor: default;
        height: $thumb-height;
        width: $thumb-width;
      }

      &::-moz-focus-outer {
        border: 0;
      }

      &:focus {
        outline: 0;

        &::-ms-fill-lower {
          background: $track-color;
        }
      }

      &::-webkit-slider-runnable-track {
        @include track;
        background: $track-color;
        border-radius: $track-radius;
      }

      &::-webkit-slider-thumb {
        @include thumb;
        -webkit-appearance: none;
        margin-top: (
          math.div((-$track-border-width * 2 + $track-height), 2) -
            math.div($thumb-height, 2)
        );
      }

      &::-moz-range-track {
        @include track;
        background: $track-color;
        border-radius: $track-radius;
        height: math.div($track-height, 2);
      }

      &::-moz-range-thumb {
        @include thumb;
      }
    }
  }
}
section.perks {
  height: 700px;
  div.text-container {
    width: 40%;
  }
  div.checklist-container {
    display: grid;
    align-items: center;
    grid-template-columns: 30px auto;
    grid-template-rows: 30px auto;
  }
  div.checklist {
    background: var(--gradient-2);
    width: 20px;
    height: 20px;
    padding: 3px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  div.perks-cards {
    width: 50%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 40px;
    row-gap: 30px;
  }
  div.card {
    width: 100%;
    height: 90%;
    justify-content: flex-start;
    align-items: flex-start;

    img {
      width: 40px;
    }
    h1 {
      padding-top: 15px;
      font-size: 17px;
    }

    p {
      padding: 10px 0px;
      text-align: left;
      max-width: 170px;
    }
    a {
      font-size: 10px;
      text-transform: uppercase;
      @include text-bg;
    }

    &:hover {
      a {
        -webkit-text-fill-color: white;
      }
    }
  }
}
section.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;

  div.testimonials-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    div.header {
      margin: 50px;
      text-align: center;
      h1 {
        font-size: 2.5rem;
        font-weight: bold;
      }
      p {
        font-size: 12px;
        margin: 10px 0px;
      }
    }
  }

  div.testimonial-slides {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 300px;
    position: relative;
    overflow: hidden;

    div.testimonial-card {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 300px;
      color: #d7d7d7;
      transition: transform 0.5s ease;

      div.container {
        width: 90%;
        height: 100%;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--gradient-2);
      }
      div.icon-container {
        margin-bottom: 30px;

        img {
          width: 70px;
        }
      }
      div.name-rating {
        font-size: 16px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 100px;
        }
      }
      div.testimony {
        padding: 10px 60px;
        font-size: 13px;
        text-align: center;
      }
    }
  }

  div.slider-buttons {
    margin: 50px;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > div {
      padding: 5px;
      cursor: pointer;
    }
    .control-container {
      transition: background 0.5s;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      padding: 0px 17px;

      &:hover {
        background: white;
        span {
          background: black;
        }
      }
    }
    .top,
    .bottom {
      position: relative;
      display: inline-block;
      width: 10px;
      height: 2px;
      border-radius: 30px;
      background: white;
    }
    .top {
      rotate: 45deg;
    }
    .bottom {
      transform: translateX(5px);
      rotate: -45deg;
      bottom: 14px;
      right: 4px;
    }
    .prev {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}

section.cta {
  @apply px-32;

  div.cta-container {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    background: var(--gradient-2);
    height: 200px;
    border-radius: 20px;
    padding: 0px 70px;
    margin: 80px 0px;

    div.text {
      h1 {
        font-size: 28px;
        font-weight: bold;
      }
      p {
        font-size: 12px;
        max-width: 250px;
        padding-top: 15px;
      }
    }
    div.contact-form {
      align-self: center;

      form {
        height: 50px;
        font-size: 12px;
        $border: 10px 0px 0px 10px;
        & input[type="email"] {
          height: 90%;
          width: 70%;
          padding: 10px;
          border-radius: $border;
          outline: none;
          color: black;
        }
        & button {
          background: black;
          color: white;
          height: 90%;
          padding: 0px 20px;
          position: relative;
          right: 4px;
          border-radius: 0px 10px 10px 0px;
        }
      }
    }
  }
}

footer.footer {
  background: #090a12;
  height: 300px;
  padding: 0px 80px;

  div.footer-top {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding: 30px 0px;

    .footer-header {
      .header {
        display: flex;
        align-items: center;
        padding-top: 15px;
      }
      img {
        width: 50px;
      }
      h1 {
        font-size: 20px;
        font-weight: bold;
        margin: 10px;
      }
      p {
        margin: 30px 0px;
        max-width: 250px;
      }

      .social-links {
        display: flex;
        justify-content: space-between;
        width: 140px;

        li {
          width: 30px;
          height: 30px;
          background-color: rgba(37, 37, 37, 1);
          border-radius: 10px;
          a {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          &:hover {
            color: #000;
            background-color: whitesmoke;
          }
        }
      }
    }

    .footer-links {
      li {
        margin: 17px;
      }
    }
    .top-link {
      font-weight: bold;
      margin-bottom: 15px;
    }
  }

  .footer-bottom {
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    & ul {
      display: flex;
      justify-content: space-between;
      width: 30%;

      .seperator {
        width: 2px;
        height: 20px;
        background-color: white;
      }
    }

    .credits {
      display: flex;
      justify-content: space-between;
      padding-top: 15px;
      width: 500px;

      a {
        color: #24c6dc;
      }
    }
  }
}
// ANIMATIONS
@keyframes jump {
  0% {
    bottom: 50px;
  }
  25% {
    bottom: -20px;
  }
  50% {
    bottom: 50px;
  }
  75% {
    bottom: -20px;
  }
  100% {
    bottom: 0px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateX(-50%);
  }
  25% {
    transform: rotate(90deg) translateX(0%);
  }
  50% {
    transform: rotate(180deg) translateX(50%);
  }
  100% {
    transform: rotate(360deg) translateX(-50%);
  }
}

